<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Add Room</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body class="bg-light">
  <div class="container-fluid">
    <nav></nav>
    <div class="row justify-content-center pt-4">
      <div class="col-6 shadow-lg p-3 mb-5 bg-white rounded">
        <div class="d-flex bd-highlight mb-3">
          <div class="mr-auto p-2 bd-highlight">
            <h2>Thêm học viên</h2>
          </div>
        </div>
        <form method="post">
        <table class="table">
          <tr>
            <th>Tên:</th>
            <td>
              <input type="text" name="name" required>
            </td>
          </tr>
          <tr>
            <th>Lớp:</th>
            <td>
              <select name="class">
                <option value="C0622">C0622</option>
                <option value="C0722">C0722</option>
                <option value="C0822">C0822</option>
              </select>
            </td>
          </tr>
          <tr>
            <th>Điểm thực hành:</th>
            <td>
              <input type="text" name="scorePractice">
            </td>
          </tr>
          <tr>
            <th>Điểm lý thuyết:</th>
            <td>
              <input type="text" name="scoreTheory">
            </td>
          </tr>
          <tr>
            <th>Đánh giá:</th>
            <td>
              <select name="assess">
                <option value="Đạt">Đạt</option>
                <option value="Không Đạt">Không Đạt</option>
              </select>
            </td>
          </tr>
          <tr>
            <th>Mô tả</th>
            <td>
              <textarea cols="50" rows="4" name="description"></textarea>
            </td>
          </tr>
          <tr>
            <td></td>
            <td>
              <a>
                <button type="submit" class="btn btn-primary">Lưu</button>
              </a>
              <a href="/student">
                <button type="button" class="btn btn-secondary">Thoát</button>
              </a>
            </td>
          </tr>
        </table>
        </form>
      </div>
    </div>
  </div>
</body>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
  integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
  integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
  integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</html>